.container {
    max-width: 100% !important;
}
.theme-background {
    background-color: #a7001a !important;
}
.theme-background> .nav-link {
    color: #fff;
}
.theme-color {
    color: #a7001a;
}
.btn-default {
    color: #fff !important;
    background-color: #a7001a !important;
}