.input-quantity {
    width: 135px;
    border: 1px solid silver;
    color: #a7001a;
    border-radius: 12px;
    text-align: center;
}

.quantity-display {
    background-color: #eeeeee;
}

.quantity-minus{
    padding-left: 27px;
}

.quantity-plus{
    padding-right: 27px;
}
.disabled{
    pointer-events: none;
    color: #f392a0
}